:root{
    --primary-color: #1B4965;
    --secondary-color: #62B6CB;
    --accent1-color: #BEE9E8;
    --accent2-color:#CAE9FF;
    --heading-font: "Inter", sans-serif;
    --body-font: "Nunito", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 1rem 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 2rem;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--accent2-color);
}
body{
    font-family: var(--body-font);
    color: var(--primary-color);
}
header, main, footer{
    max-width: 840px;
    margin: 0 auto;
    width: 100%;
    padding: 0 1rem;
}
h1, h2, h3{
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
nav, p, section, article{
    margin: 16px;
    padding: 8px;
}
.history { 
    text-align: center;
    margin-bottom: 2rem;
}
.history-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}
.history-grid ima {
    width: 150px;
    height: auto;
    border-radius: 10px;
}
.socialmedia a{
    text-decoration: none;
}
.hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: var(--primary-color);
}
article{
    position: absolute;
    text-align: center;
    background-color: var(--accent1-color);
    bottom: 30px;
    opacity: 0.8;
    width: 100%;
    padding: 16px;
}
.adventure{
    text-align: center;
}
.adventure-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 10px;
    justify-items: center;
}    
.adventure-grid figure {
    margin: 0;
}
.adventure-grid img {
    width: 150px;
    height: auto;
    display: block;
    border-radius: 5px;
}
.adventure-grid figcaption{
    font-size: 0.8rem;
    margin-top: 5px;
    color: var(--primary-color);
}
.hero article img{
    float: right;
    width: 125px;
    margin: 10px 20px;   
    box-shadow: 0 0 30px #888 ; 
}

footer{
    background-color: var(--accent1-color);
    color: var(--primary-color);
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
footer nav {
    display: flex;
    gap: 10px;
    
}
footer nav a img {
    width: 32px;
    height: 32px;
}
form {
  width: 550px;
  padding: 1rem;
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
  background-color: #eee;
  display: grid;
  margin: 20px;
}
fieldset {
  display: grid;
  grid-gap: .5rem;
  margin: 0.5rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 0.5rem;
}

legend {
  padding: 0.5rem;
  color: var(--primary-color);
  font-size: 1.3em;
}
input, select, textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
}
button {
  margin: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}
