:root{
    --primary-color: #1B4965;
    --secondary-color: #62B6CB;
    --accent1-color: #BEE9E8;
    --accent2-color:#CAE9FF;
    --heading-font: "Inter", sans-serif;
    --body-font: "Nunito", sans-serif;
}
header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
    color: var(--primary-color);
}
header, main, footer{
    width: 840px;
    margin: 0;
}
h1, h2{
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
nav, p, section, article{
    margin: 16px;
    padding: 8px;
}
.socialmedia a{
    text-decoration: none;
}
.hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: var(--primary-color);
}
article{
    position: absolute;
    text-align: center;
    background-color: var(--accent1-color);
    bottom: 30px;
    opacity: 0.8;
    width: 100%;
    padding: 16px;
}
.hero article img{
    float: right;
    width: 125px;
    margin: 10px 20px;   
    box-shadow: 0 0 30px #888 ; 
}

